*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, rgb(102, 102, 102) 50%,rgb(255, 166, 0));
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 150px;
    background: rgb(102, 102, 102);
    box-shadow: 4px 5px 10px rgba(0,0,0,0.363);
    border-radius: 15px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

section h3{
    font: normal 30pt Arial;
}

section p{
    letter-spacing: 4px;
}

@media (min-width: 300px) and (max-width: 475px) {
    .container{
        width: 90%;
    }
    section{
        width: 80px;
        height: 80px;
    }
    section h3{
        font: normal 25pt Arial;
    }
    section p{
        letter-spacing: 2px;
    }
}

@media (min-width: 476px) and (max-width: 651px) {
    .container{
        width: 70%;
    }
    section{
        width: 95px;
        height: 95px;
    }
    section h3{
        font: normal 28pt Arial;
    }
    section p{
        letter-spacing: 3px;
    }
}

@media (min-width: 652px) and (max-width: 827px) {
    .container{
        width: 60%;
    }
    section{
        width: 100px;
        height: 100px;
    }
    section h3{
        font: normal 30pt Arial;
    }
    section p{
        letter-spacing: 4px;
    }
}

@media (min-width: 828px) and (max-width: 860px) {
    .container{
        width: 50%;
    }
    section{
        width: 100px;
        height: 100px;
    }
    section h3{
        font: normal 30pt Arial;
    }
    section p{
        letter-spacing: 4px;
    }
}